<mat-card>
  <mat-card-title>Welcome to Medication Administration!</mat-card-title>
  <mat-card-content>Describes the event of a patient consuming or otherwise being administered a medication. This may be as simple as swallowing a tablet or it may be a long running infusion. Related resources tie this event to the authorizing prescription, and the specific encounter between patient and health care practitioner. <br>
    You can administrate the medication you took, who gave it to you and when did you take it. Then you can edit to update the medication's process or you can even delete it.
  </mat-card-content>
</mat-card>
